{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
 {{ $data := index .Site.Data .Site.Language.Lang }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
   <!--     <h1>{{ .Title }}</h1>-->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.phone }}
        <li><a href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.email }}
        <li><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.address }}
        {{ if eq .Site.Language.Lang "uk" }}
        <li style="white-space: pre-wrap;">{{ .Site.Data.contact.address }}</li>
        {{ end }}
        {{ if eq .Site.Language.Lang "en" }}
        <li style="white-space: pre-wrap;">Hrushevskogo St., 28/2, №43, Kyiv,  01021</li>
        {{ end }}
        {{ end }}
      </ul>
      <h2 style="margin: 70px 0 30px 0;">{{ T "requisites" }}</h2>
      {{ if .Site.Data.accounts }}
      <div class="accounts-row row">
        <div class="accounts col">
          <h3>UAH</h3>
          <li>{{ .Site.Data.accounts.company }}</li>
          <li>IBAN: {{ .Site.Data.accounts.account }}</li>
          <li>Банк: {{ .Site.Data.accounts.bank }}</li>
          <li>Код банку: {{ .Site.Data.accounts.bank_code}}</li>
          <li>ЕДРПОУ: {{ .Site.Data.accounts.bank_edr}}</li>
        </div>
        <div class="accounts col">
          <h3>EUR</h3>
          <li>{{ .Site.Data.accounts.companyeur }}</li>
          <li>IBAN: {{ .Site.Data.accounts.accounteur }}</li>
          <li>Банк: {{ .Site.Data.accounts.bankeur }}</li>
          <li>SWIFT: {{ .Site.Data.accounts.bank_swift}}</li>
          <li>ЕДРПОУ: {{ .Site.Data.accounts.bank_edr}}</li>
          <li>Intermediary bank: {{ .Site.Data.accounts.Intermediary }} </li>
        </div>
      </div>
      {{ end }}
      <div style="margin-bottom: 70px;">
      <a class="button" href="https://drive.google.com/drive/folders/15cBGkFFuJ2MDJ7ITzJEvWHtuSLat1IVm">{{ T "documents"}}</a></div>
      {{ if .Site.Data.contact.hours }}
      <h4 class="mt-4">Business Hours</h4>
      <table class="table table-sm opening-hours-table">
        {{ range .Site.Data.contact.hours }}
        <tr>
          <td class="day font-weight-bold">{{ .day }}</td>
          <td class="opens">{{ .open }}</td>
          <td>-</td>
          <td class="closes">{{ .close }}</td>
        </tr>
        {{ end }}
      </table>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}